<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.id.atmaluhur.uasamub_konkes_ti7jm">

    <uses-permission android:name="android.permission.ACCES_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/l"
        android:label="@string/app_name"
        android:roundIcon="@drawable/l"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASAMUB_KONKES_TI7JM">
        <activity android:name=".SukesAct"></activity>
        <activity android:name=".BerhasilAct" />
        <activity android:name=".InfoAct" />
        <activity android:name=".DaftarAct" />
        <activity android:name=".CovAct" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterAct" />
        <activity android:name=".LoginAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>